body {
  text-align: center;
  font-family: cursive;
  background-image: url(./image1.jpeg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  height:100vh;
  color: hsl(228, 91%, 46%);
}

h1 {
    color: white;
}



#clock {
    font-size: 10em;
    backdrop-filter: blur(3px);   
}