body {
  font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box {
  font-size: 30px;
  height: 300px;
  width: 300px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: lightgreen;
  font-weight: bolder;
  padding: auto;
  border-radius: 25px;
}

button {
  background-color: hsl(240, 100%, 50%);
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 3rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(240, 100%,40%);
}
